doctype html
html(lang='en')

  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='icon' href='/static/icons/favicon.png')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap&family=Poppins:wght@300;400;500&display=swap&family=Englebert&display=swap' rel='stylesheet')
    link(href='/static/css/style.css' rel='stylesheet' type='text/css')
    title Bloggy

  body
    nav.nav
      a.logo(href='#' onclick='return false;')
        img(src='/static/images/logo-main.png' alt='Joyee Logo | created using freelogodesign.org')
      ul#nav-bar.nav-bar
        li.nav-item
          a.page(href='/') Home
        li.nav-item
          a.page(href='/about') About
        li.nav-item
          a.page(href='/blogs') Blog
        li.nav-item
          a.page(href='/contacts') Contacts
      span#menu-button.menu-button
        svg#menu-icon
          use(xlink:href='/static/icons/icons.svg#i-menu')

    block content

    footer.footer
      ul#nav-bar.nav-bar
        li.nav-item
          a.logo(href='#' onclick='return false;')
            img(src='/static/images/logo-dark.png' alt='Joyee Logo | created using freelogodesign.org')
        li.nav-item
          a.page(href='/') Home
        li.nav-item
          a.page(href='/about') About
        li.nav-item
          a.page(href='/blogs') Blog
        li.nav-item
          a.page(href='/contacts') Contacts
      ul.socials
        li.social-media
          a(href='https://www.facebook.com/')
            svg
              use(xlink:href='/static/icons/icons.svg#i-facebook')
        li.social-media
          a(href='https://twitter.com/')
            svg
              use(xlink:href='/static/icons/icons.svg#i-twitter')
        li.social-media
          a(href='https://www.linkedin.com/')
            svg
              use(xlink:href='/static/icons/icons.svg#i-linkedin')
        li.social-media
          a(href='https://telegram.org/')
            svg
              use(xlink:href='/static/icons/icons.svg#i-telegram')
        li.social-media
          a(href='https://github.com/')
            svg
              use(xlink:href='/static/icons/icons.svg#i-github')
      p.information
        | This website was created to fulfill Web Technology module’s requirements and does not
        | represent an actual company or service.
      p.information The GitHub Repository can be accessed 
        a(href='https://github.com/00009115/WebTech.CW2.00009115' target='_blank') here